.avatar{
  float: right;
  
   margin: 0 70%;
}
.icon{
  vertical-align: middle;
  
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  height:30px ;
  margin-left: -15px;
}
.header{
  background-color: #7159c1;

}
.example-full-width{
  height: 90px;
  align-items: center;
}
.search{
  outline: none;
  border-radius: 4px;
  vertical-align: middle;
  height: 30px;
  border: none;
  margin-right: 16px;
  padding: 6px;
  
}